<div id="street-address">{{order.address.street}}</div>
<div class="row item item-input no-padding margin-top-none">
	<input class="col-33" id="unit" type="text" ng-model="order.address.unit" placeholder="Unit">
	<input err-class err-class-scope="order.address.phone" err-class-el="#phone" class="col-67" id="phone" type="tel" ng-model="order.address.phone" placeholder="Phone (required)" minlength="10" maxlength="11" required>
</div>
<br />
<div class="row item item-input no-padding">
	<input type="text" placeholder="Special Instructions (Limit 100 characters)" id="special-instructions" ng-model="order.instructions" maxlength="100"></input>
</div>